{
  "batch_size": 32,
  "fine_tune_checkpoint": "",
  "max_epochs": 2000,
  "initial_learning_rate": 0.01,
  "optimizer": "adam",
  "train_dir": "logs/denseparis/parameter.pkl",
  "load_model":true,
  "data_dir":"/home/shibaorong/modelTorch/out/train20200304.json",
  "valdata_dir":"/home/shibaorong/modelTorch/out/test20200304.json",
  "gpus":[0,1]
}
