{
  "batch_size":32 ,
  "fine_tune_checkpoint": "",
  "max_epochs": 2000,
  "initial_learning_rate": 0.01,
  "optimizer": "adam",
  "train_dir": "logs/deepfashion/parameter_short_sleeve_top/parameter_10.pkl",
  "load_model":true,
  "data_dir":"/home/shibaorong/modelTorch/out/traindfshort_sleeve_top.json",
  "valdata_dir":"/home/shibaorong/modelTorch/out/testdfshort_sleeve_top.json",
  "gpus":[0,1,2,3]
}